<%-include('./partial/header.ejs')-%>
    <br><br>
<style>
    body {
        background-image: url('IMG_9742 (1).jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .p1 {
        margin-top: 90px;
        font-size: 120px;
        margin-left: 40px;
    }

    .button1 {
        margin-left: 1100px;

    }
</style>
<!-- target="_blank" rel="noopener noreferrer" -->
<h5 style="display: none;"><a href="https://rzp.io/l/sharedroofpayments" id="lnk">premium</a></h5>  <!-- https://rzp.io/l/1TStA9db3 -->
<script>
    function clicked(){
        document.getElementById('lnk').click();
    }
</script>

<p class="p1">Pay once, use unlimited.</p><br><br><br><br><br>
<p style="margin-top: -120px; margin-left: 40px; font-size: 30px;">You can use SHAREDROOF for an year just for Rs.199/-.
</p>
<button class="button1" onclick="clicked()">Pay Now</button>

</html>